@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/*font-family: 'Nanum Myeongjo', serif;*/

body{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 0.75em;
}
/* ---------------------------------------- */
svg{
	vertical-align: middle;
}

#wrap{
	background: red;
	height: 300px;
}