@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/*font-family: 'Nanum Myeongjo', serif;*/

body{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 0.75em;
}
/* ---------------------------------------- */
svg{
	vertical-align: middle;
}

/* ---------------------------------------- */
header{
	position: fixed;
	width: 100%;
}
header a{
	color: #fff;
}
.header-wrap{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	line-height: 80px;
	background-color: #999;
}
.header-logo{
	float: left;
}
.header-nav{
	float: right;
	overflow: hidden;
}
.header-nav > li{
	float: left;
}
.content-wrap{
	background-color: #000;
	height: 800px;
}